body {
	background-image: url(../css/images/green.jpeg);
}

#other {
	font-weight: 700;
	
}

.title {
	padding-left: 30px;
}

img {
	height:400px;
	display: block;
}

.body {
	width: 90%;
	display: inline-block;
	
}

.cormoran {
	display: inline-block;
	width: 45%;
	padding-left: 30px;
}

.casualvacancy {
	display: inline-block;
	width: 45%;

}

@media (min-width: 300px) {
.cormoran {
	display: block;
	width: 90%;
	padding-left: 30px;
}
.casualvacancy {
	display: block;
	width: 90%;
	padding-left: 30px;

}

    }


    @media (min-width: 400px) {
.cormoran {
	display: block;
	width: 90%;
	padding-left: 30px;
}
.casualvacancy {
	display: block;
	width: 90%;
	padding-left: 30px;

}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

    }


    @media (min-width: 550px) {
.cormoran {
	display: block;
	width: 90%;
	padding-left: 30px;
}
.casualvacancy {
	display: block;
	width: 90%;
	padding-left: 30px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


    }


    @media (min-width: 750px) {
.cormoran {
	display: block;
	width: 90%;
	padding-left: 30px;
}
.casualvacancy {
	display: block;
	width: 90%;
	padding-left: 30px;

}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
      }

    @media (min-width: 1000px) {
   .cormoran {
	display: inline-block;
	width: 45%;
	padding-left: 30px;
}
.casualvacancy {
	display: inline-block;
	width: 45%;

}
    }

 
    @media (min-width: 1200px) {
.cormoran {
	display: inline-block;
	width: 45%;
	padding-left: 30px;
}
.casualvacancy {
	display: inline-block;
	width: 45%;

}
    	}