body {
	background-image: url(../css/images/tan.jpeg);
}

#about {
	font-weight: 700;
}

.image {
	display: inline-block;
	width: 30%;
	padding-top: 50px;
	padding-left: 25px;
	float: left;
}

img {
	width:100%;
	padding-bottom: 25px;
}

.text {
	display: inline-block;
	padding-left: 30px;
	width: 60%;
}